.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.timelineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

@media (max-width: 1024px) {
    .aboutContainer {
        width: 90%; 
    }
}

@media (max-width: 768px) {
    .aboutContainer {
        width: 95%; 
    }

    .buttonsContainer {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .aboutContainer {
        width: 100%; 
    }
}
