.galleryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh; 
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 1024px) {
    .galleryContainer {
        height: auto; 
        padding-top: 5rem; 
    }
}
