.button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 1rem;
}

.secondary {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
}

.tertiary {
    background-color: transparent;
    color: #0073e6;
    border: 1px solid #0073e6;
}

.button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


.small {
    font-size: 0.9rem;
    padding: 8px 16px;
}

.medium {
    font-size: 1rem;
    padding: 12px 24px;
}

.large {
    font-size: 1.2rem;
    padding: 16px 32px;
}
