.menu {
  margin-top: 1.5rem;
  display: flex;
  gap: 10px;         
  justify-content: center;    
}

.menuItem {
  width: 12px;
  height: 12px;
  background-color: var(--text-primary);  
  border-radius: 50%;  
  border: none;
  cursor: pointer;
}

.menuItem:hover {
  transform: scale(1.3);   
  background-color: var(--text-secondary);  
}

.menuItem:focus {
  outline: none; 
}

.menuItem:disabled {
  background-color: red;; 
  cursor: not-allowed;  
  transform: scale(1);   
}
