.menu {
  margin-top: 1.5rem;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.menuItem {
  width: 15px;
  height: 15px;
  background-color: white;  
  border-radius: 50%;
  border: 2px solid var(--text-primary);  
  cursor: pointer;
  transition: transform 0.3s ease, background-color 1s ease, border-color 1s ease;  
}

.menuItem.active {
  background-color: var(--text-white);  
  border: none; 
}

.menuItem:hover {
  transform: scale(1.3);
  background-color: var(--bg-gray-light);  
}

.menuItem:focus {
  outline: none;
}

.menuItem:disabled {
  background-color: var(--highlight-color);
  cursor: not-allowed;
  transform: scale(1);
}
