:root {
    --font-regular: 'Amatic SC', sans-serif;
    --font-bold: 'Amatic SC', sans-serif;

    --bg-primary: #212529;   
    --bg-secondary: #343a40; 

    --text-primary: #f8f9fa;  
    --title: #e9ecef; 
    
    --border-light: #ced4da; 
  }