:root {
  --font-light: 'Quicksand-Light', sans-serif;
  --font-regular: 'Quicksand-Regular', sans-serif;
  --font-medium: 'Quicksand-Medium', sans-serif;
  --font-semibold: 'Quicksand-SemiBold', sans-serif;
  --font-bold: 'Quicksand-Bold', sans-serif;

  /* Cores principais */
  --text-white: #ffffff;       
  --text-red: #db0000;         
  --text-whine: #831010;
  --text-black: #000000;
  
  --bg-black: #000000;         
  --bg-gray-light: #b3b3b3;    
  --bg-gray-dark: #564d4d;    

  --highlight-color: #db0000;  
}
