.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 40px;
}

.contactTitle {
    margin-bottom: .5rem;
}

.icon {
    font-size: 1.5rem;
}

.contactForm {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.formRow {
    display: flex;
    justify-content: space-between; 
    gap: 10px;
}

.formGroup {
    width: 100%;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--bg-gray-dark);
    background-color: var(--bg-dark); 
    color: var(--text-white);
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin: 10px 0;
}

.formGroup textarea {
    resize: none;
    min-height: 200px; 
}


.formGroup input:focus,
.formGroup textarea:focus {
    outline: none;
    border-color: var(--highlight-color);
    background-color: var(--bg-dark); 
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
    color: var(--text-white);
    opacity: 0.7;
}

.statusMessage {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInOut 3s ease-in-out;
}

.success {
    background-color: #4caf50;
    color: var(--text-white);
}

.error {
    background-color: #f44336;
    color: var(--text-white);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

