.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    position: relative;
    background-image: url('/assets/images/wallpaper.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 50%;
    overflow: hidden;
}

.homeContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%); 
    border-radius: 50%; 
}

.socialContainer {
    display: flex;
}