.navMenu {
    position: fixed;
    bottom: 50px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: transparent;
    z-index: 10;
}

.navMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.navMenu .navItem {
    margin: 0;
    font-size: 2rem;
}

.navMenu a {
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    font-family: var(--font-regular);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

.navMenu .activeLink {
    font-family: var(--font-semibold);
    color: red;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.navMenu a:hover {
    transform: scale(1.1);
    color: var(--text-red);
}

.navMenu a:focus {
    outline: none;
}
