.titleContainer {
    margin-bottom: 3rem;
    display: grid;
    place-items: center;
    gap: 0.5rem;
    position: relative;
    text-align: center;
}

.name {
    font-size: clamp(3rem, 10vw, 7rem); 
    font-family: var(--font-title);
    color: var(--text-black); 
    transition: color 0.3s ease-in-out;
    text-shadow: 
        1px 1px 0 #fff,  
        -1px -1px 0 #fff, 
        1px -1px 0 #fff,  
        -1px 1px 0 #fff;
    position: relative;
}

.role {
    font-size: clamp(1rem, 3vw, 1.7rem); 
    font-family: var(--font-title);
    color: var(--text-white); 
    transition: color 0.3s ease-in-out;
    position: relative;
}
