.titleContainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 2rem;
}

.titleContainer p {
    font-family: var(--font-title);
    font-size: 4rem;
}

.highlight {
    color: var(--text-red);
    font-weight: bold;
}

@media (max-width: 1024px) {
    .titleContainer {
        margin-bottom: 0;
    }
    
    .titleContainer p {
        text-align: center;
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .titleContainer p {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .titleContainer p {
        font-size: 1.5rem;
    }
}
