.titleContainer {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative;
}

.name {
    text-decoration: none;
    font-size: 7rem;
    font-family: var(--font-title);
    color: black; 
    transition: color 0.3s ease-in-out;
    text-shadow: 
        1px 1px 0 #fff,  
        -1px -1px 0 #fff, 
        1px -1px 0 #fff,  
        -1px 1px 0 #fff;
        position: relative;
}

.role {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: var(--font-title);
    color: white; 
    transition: color 0.3s ease-in-out;
    position: relative;
    margin-left: auto; 
}
