  .title {
    font-size: 10rem;
    font-family: var(--font-semibold);
    text-transform: uppercase;
  }
  
  .subtitle {
    font-size: 2rem; 
    font-family: var(--font-semibold);
    text-transform: uppercase;
    color: var(--text-red)
  }
  