.contactForm {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    width: 100%;
}

.contactTitle {
    margin-bottom: 0.5rem;
}

.formRow {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.formGroup {
    width: 100%;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--bg-gray-dark);
    background-color: var(--bg-dark); 
    color: var(--text-white);
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin: 10px 0;
}

.formGroup textarea {
    resize: none;
    min-height: 200px;
}

.formGroup input:focus,
.formGroup textarea:focus {
    outline: none;
    border-color: var(--highlight-color);
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
    color: var(--text-white);
    opacity: 0.7;
}

@media (max-width: 1024px) {
    .contactForm {
        max-width: 80%; 
    }

    .formRow {
        flex-direction: column; 
        gap: 20px;
    }

    .formGroup textarea {
        min-height: 120px;
    }

    .adressContainer {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .contactForm {
        padding: 30px; 
        max-width: 100%;
    }

    .formRow {
        flex-direction: column;
    }

    .formGroup input,
    .formGroup textarea {
        padding: 12px;
        font-size: 14px;
    }
}
