.iconContainer {
  margin: 0 15px;
  text-decoration: none;
}

.iconBox {
  width: 50px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  position: relative;
}

.icon {
  opacity: 0.6;
  color: var(--text-white);
  transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.iconBox:hover .icon {
  transform: rotate(45deg);
  opacity: 0.9;
  color: inherit; 
}

.iconBox:hover {
  transform: scale(1.1); 
}
