.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  text-align: center;    
}

.mainContent {
  width: 80vw; 
  height: 70vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

