.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center; 
}

.mainContent {
  min-height: calc(100vh - 80px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

