.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center; 
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
  height: 100vh;
}

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; 
  z-index: 9999; 
}



