.timelineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 85vw;
    height: 85vh;
    perspective: 1000px;
    position: relative;
    margin: 0 auto; 
}

.outerBox {
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    width: 50%;
    height: 350px;
    transform: rotateY(15deg);
    transition: transform 0.5s ease;
    position: relative;
    z-index: 1;
}

.content {
    padding: 30px;
    background-color: transparent;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transform: rotateY(-10deg);
    position: absolute;
    background: black;
}

.contentText {
    font-size: 1.2rem;
    overflow-y: auto;
    padding: 20px;
    text-align: justify;
}

.arrowContainer {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    z-index: 1000;
}

.arrow {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.arrow.left {
    position: absolute;
    left: calc(15% - 10px); 
}

.arrow.right {
    position: absolute;
    right: calc(18% - 10px);
}

.hidden {
    display: none; 
}

.timeline {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.timelineLine {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-white);
    z-index: -1;
}

.timelinePoint {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 50px;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.timelinePoint.active {
    background-color: red;
    border: 4px solid white;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}

.timelinePoint.active .popup {
    opacity: 1;
    visibility: visible;
}

.timelinePoint.active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.date {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;;
    font-weight: bold;
    color: #fff;
}

.popup {
    position: absolute;
    top: 50px;  
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px 70px;
    border-radius: 5px;
    font-size: .8rem;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-weight: 600;
    white-space: nowrap;
}

.timelinePoint:hover .popup {
    opacity: 1;
    visibility: visible;
}

.arrowUp {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
}

::-webkit-scrollbar {
    width: 8px; /* Fina, ajustável à largura desejada */
}

::-webkit-scrollbar-thumb {
    background-color: #333; /* Cor escura para a barra */
    border-radius: 10px; /* Borda arredondada para um efeito mais moderno */
    border: 2px solid #555; /* Borda mais clara para contraste */
}

::-webkit-scrollbar-track {
    background-color: #222; /* Cor de fundo da track (área da barra) */
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .timelineContainer {
        height: 100vh;
        width: 90vw;
    }
    
    .timeline {
        width: 85%; 
    }

    .timelinePoint {
        margin: 0 15px; 
    }
    .outerBox {
        padding: 10px;
        width: 100%;
        height: 350px;
    }
    .content {
        padding: 10px;
    }

    .contentText {
        font-size: .9rem;
        margin-bottom: .5rem;
    }

    .arrowContainer {
        display: none;
    }
    .date {
        font-size: .8rem;;
    }
    .popup {
        position: absolute;
        top: 50px;  
        left: 50%;
        padding: 5px 25px;
        font-size: .6rem;
        text-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .timeline {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
    }

    .timelinePoint {
        width: 25px;
        height: 25px;
        margin: 0 10px; 
    }
}

@media (max-width: 480px) {
    .timelinePoint {
        width: 20px; 
        height: 20px;
    }
}